#heading {
    text-align: center;
    margin-bottom: 20px;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.ant-input {
    border-radius: 5px;
}

.ant-form-item {
    margin-bottom: 15px;
}

.ant-form-item-label {
    display: block;
}

.ant-form-item-required:before {
    display: none;
}

.primary-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.primary-button:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
}

.register-link a:hover {
    color: #0056b3;
}